<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Java and OnePage Applications </title>

		<meta name="description" content="An Architecture for Java based AngularJS applications">
		<meta name="author" content="Jörg Herbst">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/night.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1>NoBackend in the Java World</h1>
					<h3>A new generation ?</h3>
					<p>
						<small>Presentation by <a href="http://twitter.com/terribleherbst">Jörg Herbst</a> / <a href="http://www.10m.de">10m</a></small>
					</p>
				</section>
                
                <section>
                    <h2>What Technoloy do you use?</h2>
                    <ul>
                        <li class="fragment roll-in">Applets</li>
                        <li class="fragment roll-in">Server Side Java</li>
                        <li class="fragment roll-in">Client Javascript</li>
                        <li class="fragment roll-in">Groovy,Scala..</li>
                        <li class="fragment roll-in">Rhino,Nashorn</li>
                        <li class="fragment roll-in">Node.js IO.js</li> 
                    </ul>
                </section>


					<section>
						<h2>Jörg Herbst</h2>
						<p class="fragment grow">Java since JDK 0.92</p>
						<p class="fragment grow">Professional since 2002</p>
						<p class="fragment grow">JavaScript since 2014</p>
						<p class="fragment"><small>twitter:@terrible_herbst <br>github: terribleherbst</small></p>
					</section>
                
                
                <section>
                    <h2>A word of warning</h2>
                    <h3 class="fragment current-visible">There is Backend</h3>
                    <h3 class="fragment current-visible">There is Frontend</h3>
                    
                </section>

				<section> 
					<h2>The grass is alway greener...</h2>
					<p class="fragment" data-fragment-index="1"><span class="fragment highlight-green" data-fragment-index="1">Short round trips</span></p>
					<p class="fragment " data-fragment-index="3"><span class="fragment highlight-green" data-fragment-index="3">None blocking IO with node</span></p>
					<p class="fragment " data-fragment-index="5" ><span class="fragment highlight-green" data-fragment-index="5">Present on low cost hosting</span></p>
					<p class="fragment " data-fragment-index="2"><span class="fragment highlight-red" data-fragment-index="2">Deployment und compilation</span></p>
					<p class="fragment " data-fragment-index="4"><span class="fragment highlight-red" data-fragment-index="4">Servlet API</span></p>
					<p class="fragment " data-fragment-index="6"><span class="fragment highlight-red" data-fragment-index="6">Heavy application server</span></p>
				</section>

				<section>
					<h2>What Java has to offer</h2>
					<p class="fragment">Great stable core libraries</p>
					<p class="fragment">Professional managed frameworks</p>
					<p class="fragment">Great virtual maschine</p>
					<p class="fragment">An awesome community</p>
				</section>
                
				<section>
					<h2>What happend before</h2>
                    <ol>
					<li class="fragment zoom">We don't need no JavaScript</p>
					<li class="fragment zoom">Extending Servlet based approach</p>
					<li class="fragment zoom">Compile JavaScript</p>
					<li class="fragment zoom">Java Backend - JavaScript Frontend</p>
                    </ol>
				</section>

				<section>
					<h2>No Javascript</h2>
						<p class="fragment">Poor useabilty</p>
						<p class="fragment">Slow interaction</p>
						<p class="fragment">Lots of roundtrips</p>
                        <p class="fragment">Search engine visible</p>
				</section>
                
				<section>
					<h2>Extending Servlets</h2>
						<p class="fragment">Better useabilty</p>
						<p class="fragment">Slow interaction</p>
						<p class="fragment">Lots of roundtrips</p>
                        <p class="fragment">Difficult to maintain</p>
                        <p class="fragment">Search engine visible</p>
				</section>
                
				<section>
					<h2>Compile JavaScript</h2>
						<p class="fragment">Better useabilty</p>
						<p class="fragment">Good interaction</p>
						<p class="fragment">Few roundtrips</p>
                        <p class="fragment">Difficult beside the basics</p>
                        <p class="fragment">Vendor lock in (GWT or Vaadin)</p>
				</section>                

				<section>
					<h2>Java Backend - JavaScript Frontend</h2>
                    <ul>
					<li>Javascript Frontend (i.e. AngularJS)</li>
					<li>REST based JSON API</li>
					<li>Java Backend (i.e. Ratpack.io)</li>
                    </ul>
				</section>
                
				<section>
					<h2>The Challenge</h2>
					<p class="fragment">Maintainable Frontend</p>
					<p class="fragment">Testable Code</p>
					<p class="fragment">Performance and Scalability</p>
					<p class="fragment">Vendor idependence</p>
				</section>                
                
				<section>
					<h2>The world has changed</h2>
						<p class="fragment">JavaScript is on every major site</p>
						<p class="fragment">There is Standard Comitee <a href="http://www.ecma-international.org/ecma-262/5.1/">ECMA</a></p>
                        <p class="fragment">There is <a href="#">npm</a> as a Package Manager</p>
						<p class="fragment">There are build systems like <a href="http://gruntjs.com/">Grunt</a></p>
						<p class="fragment">Testing frameworks exists <a href="http://karma-runner.github.io/">Karma</a> and <a href="https://jasmine.github.io/2.2/introduction.html">Jasmine</a></p>
					</section>

				<section>
					<h2>Why AngularJS</h2>
                    <ul>
                        <li>Clear declarative code</li>
                        <li>Structure code with MVC</li>
                        <li>Testable</li>
                        <li>IDE Integration</li>
                        <li>Great tools and support</li>
                    </ul>
                </section>

				<section>
					<h2>AngularJS</h2>
					<pre><code data-trim contenteditable>
<div ng-controller="BookListCtrl">
<ul>
    <li ng-repeat="book in books">
        <a href="" ng-click="showBook(book.isbn)">{{book.title}}</a>
    </li>
</ul>
</div>

<script src="./js/angular.min.js"></script>
<script src="./js/AppsController.js"></script>
					</code></pre>
					
				</section>
                
                <section>
                    					<h2>AngularJS</h2>
<pre><code>
function BookListCtrl($scope, $http, $templateCache) {
   $scope.listBooks = function() {
 		$http({method: 'GET', url: './api/book', cache: $templateCache}).
 		success(function(data, status, headers, config) {
 	    	$scope.books = data;                  //set view model
 	    	$scope.view = './Partials/list.html'; //set to list view
 		}).
 		error(function(data, status, headers, config) {
 			$scope.books = data || "Request failed";
 			$scope.status = status;
 			$scope.view = './Partials/list.html';
 		});
  		}
}
BookListCtrl.$inject = ['$scope', '$http', '$templateCache'];
</code></pre>
                </section>
                
				<section>
					<h2>MVC</h2>
					<p>Simple Angular Demo</h2>
				</section>
				
                <section>
					<h2>Testing with Karma</h2>
<pre><code>
describe('myApp.view2 module', function() {

  beforeEach(module('myApp.view2'));

  describe('view2 controller', function(){

    it('should ....', inject(function($controller) {
      //spec body
      var view2Ctrl = $controller('View2Ctrl');
      expect(view2Ctrl).toBeDefined();
    }));

  });
});
</code></pre>    

<small>Source: <a href="https://github.com/angular/angular-seed">Angular Seed</a></small>
				</section>
                <section>
					<p>Simple Karma Demo</p>
				</section>

				<section>
                    <h2>A Java Backend</h2>
					<p>JVM ist more than Java</p>
					<p>No more Pets in the store</p>
					<p>Java Web is more than servlets</p>
				</section>

				<section>
					<h2>Ratpack</h2>
					<p>Async IO using <a href="http://netty.io/">netty</a></p>
					<p>Fast roundtrip using <a href="http://www.groovy-lang.org/">groovy</a></p>
        			<p><a href="http://www.gradle.org/">Gradle</a> for easy builds</p>
        			<p><a href="https://github.com/Netflix/Hystrix">Hystrix</a> for managing micro services</p>
        			<p><a href="https://github.com/FasterXML/jackson">Jackson</a> for JSON</p>
        			<p>Not related to any type on Frontend</p>        
				</section>

                <section>
                    Simple Ratpack REST Demo
                    <pre><code>
        handler("talk/:id") {
            def query = pathTokens["id"]
            byMethod {
                get {
                    render json (talks.find { talk -> talk.id = query})
                }
                put {
                    def talk = parse (fromJson(Talk))
                    talks.put(query,talk)
                }
                delete {
                    talks.remove(query)
                }
            }
        }                        
                    </code></pre>
                    <small>Source: <a href="https://github.com/terribleherbst/ratpack-sampl">Ratpack REST</a></small>     
                </section>
                
                <section>
                    <h1>Conclusion</h1>
                    <ul>
                        <li>Development processes are language independent</li>
                        <li>Build a state of the art server side Java Application</li>
                        <li>Define a stable API</li>
                        <li>Use professional JavaScript at the client</li>
                    </ul>
                </section>
                
                <section>
                    <h1>Optional Demo: Ratpack Books</h1>
                    <small>Source: <a href="https://github.com/terribleherbst/example-books.git">Ratpack with AngularJS</a></small>
                </section>

				<section style="text-align: left;">
					<h1>Links</h1>
					<ul>
                        <li> <a href="http://slides.com/gsklee/functional-programming-in-5-minutes">Functional Programming</a></li>
                        <li> <a href="http://ratpack.io">Ratpack Framework</a></li>
                        <li> <a href="https://angularjs.org/">AngularJS</a></li>
                        <li> <a href="http://www.codeproject.com/Articles/637430/Angular-js-example-application">AngularJS sample app</a></li>
                        <li> <a href="https://www.youtube.com/watch?v=kmVnhyWqozA">Groovy, Angular, Mongo all togehter</a></li>

						<li> <a href="http://www.10m.de">My Company</a> </li>
                        <li> <a href="http://www.joergherbst.de">My Blog</a> </li>
					</ul>
				</section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'zoom', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
